.c-container{
    justify-content: start;
    gap: 1rem;
}
.c-container>img{
    width: 10rem;
   
}

@media (max-width: 648px) {
  
    .c-container{
        gap: 1rem;
        
    }
    .c-container>img{
        width: 22%;
        max-height: 30%;
    }
}

