.r-container{
    overflow: hidden;
    position: relative;
}
.r-head{
    margin-bottom: 2rem;
}
.r-card{
    gap: 0.6rem;
    padding: 1rem;
    border-radius: 10px;
    max-width: max-content;
    margin:auto;
    transition: all 300ms ease-in-out;
}

.r-card>img{
    width: 100%;
    max-width: 15rem;  
}
.r-card>:nth-child(2){
    font-size: 1.2rem;
    font-weight: 600;
}
.r-card>:nth-child(3){
    font-size: 1.5rem;
}
.r-card>:nth-child(4){
    font-size: 0.7rem;
    width: 15rem;
}


.r-card:hover{
    scale: 1.025;
    cursor: pointer;
    background-color: #eeeeff;
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);;
}
.swiper-horizontal{
    overflow: visible;
}
.r-buttons{
    position: absolute;
    top: -5rem;
    right: 0;

}
.buttons, .buttons1{
    font-size: 1.8rem;
    color: black;
    border-radius: 5px;
    background-color: #eeeeff;
    cursor: pointer;
    border: none;
    margin: 10px;
    padding-left: 5px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 5px;
  
}
.buttons1:hover{
    scale: 1.100;
    cursor: pointer;
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);;
}
.buttons:hover{
    scale: 1.100;
    cursor: pointer;
    box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);;
}


@media (max-width: 640px) {


.r-wrapper {
    padding: 10px;
}

.innerWidth {
    padding: 0 10px;
}

.r-head .primaryText {
    font-size: 20px;
}

.r-card {
    padding: 5px;
}

}


