.h-wrapper{
    background-color: var(--black);
    color: white;
}

.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}
.h-menu{
    gap: 2rem;
}
.h-menu>*:hover{
    cursor: pointer;
}
.button{
    background: #0426ad;
    border: 0.1px solid #a7b8fd;
    border-radius: 5px;
    box-shadow: var(--shadow);
}
