.App{
    position: relative;
    overflow-x: clip;
}
.App>:nth-child(1){
    background: var(--black);
    position: relative;
}
/* .App>:nth-child(2){
    background: var(--black);
    /* position: relative; } */

.white-gredient{
    position: absolute;
    width: 15rem;
    height: 14rem;
    top:3rem;
    background: rgba(225, 225, 225, 0.522);
    filter: blur(100px);
    border-radius: 100px;
    
}